html {
  font: 24px/1.5 -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
  color: #000;
}

h1, h2, h3 {
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
  line-height: 1;
}

h3 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  margin: 0 0 1.5rem;
}
